// Biến màu sắc
$primary-color: #1e3a8a;
$dark-bg: #111827;
$light-bg: #ffffff;
$text-dark: #1f2937;
$text-light: #e5e7eb;

// Navbar styles
.navbar {
  position: fixed;
  width: 100%;
  background-color: $light-bg;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0 0 0;
  z-index: 50;
  top: 0;
  transition: background-color 0.3s ease;

  &.dark {
    background-color: $dark-bg;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 1rem;

    .menuButton {
      display: none;
      background: none;
      border: none;
      cursor: pointer;

      @media (max-width: 1024px) {
        display: block;
      }
    }

    .logo {
      height: 70px;
      @media (max-width: 1024px) {
        height: 40px;
        margin-left: -10px;
        margin-right: 10px;
      }
    }
  }

  // CSS cho menu
  .navLinks {
    ul {
      display: flex;
      gap: 2rem;
      list-style: none;
      font-size: 1rem;
      transition: all 0.3s ease-in-out;

      li a, span {
        text-decoration: none;
        color: $text-dark;
        font-weight: 500;
        font-size: 1.1rem;
        transition: color 0.3s ease;
        cursor: pointer;

        &:hover {
          color: $primary-color;
        }
      }

      @media (max-width: 1024px) {
        display: none; // Ẩn menu mặc định trên mobile
      }
    }
  }

  // Khi menu mở, hiển thị danh sách ul
  .navLinks.open {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: auto;
    background-color: $light-bg;
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0 1rem;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    padding-right: 10px;

    .searchBox {
      display: flex;
      align-items: center;
      background: #f3f4f6;
      padding: 0.5rem;
      border-radius: 20px;

      .icon {
        color: #6b7280;
      }

      input {
        border: none;
        background: transparent;
        outline: none;
        padding-left: 0.5rem;
      }
    }

    .iconButton {
      background: none;
      border: none;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: $primary-color;
      }
    }
  }
}


.userButton{
  position: relative;
  .userMenu{
    position: absolute;
    background-color: $light-bg;
    border: 1px solid $text-dark;
    text-align: left;
    left: -50%;
    top: 120%;
    a{
      display: block;
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: $text-dark;
      transition: background-color 0.3s ease;

      &:hover{
        background-color: $text-light;
      }
    }
    @media screen and (max-width: 1024px){
      left: -110%;
    }
  }
}

.cartButton{
  position: relative;
  .cartMenu{
    position: absolute;
    background-color: $light-bg;
    border: 1px solid $text-dark;
    text-align: left;
    width: 10rem;
    left: -4rem;
    top: 120%;
    p{
      padding: 0.5rem 1rem;
      color: $text-dark;
      display: block;
      text-wrap: nowrap;
      text-align: center;
    }
  }

}

.accessButton{
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s , transform 0.2s;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
