/* global.css */
body {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    background-color: #f5f5f5; /* Màu nền mặc định (nếu cần) */
    color: #333; /* Màu chữ mặc định */
  }