.heroes {
  background: linear-gradient(to right, #3b82f6, #9333ea);
  color: white;
  padding-top: 1rem;

  .container {
    max-width: 1200px;
    margin: auto;
    padding: 4rem 1rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  .textContainer {
    max-width: 50%;
    margin-bottom: 2rem;

    @media (max-width: 1024px) {
      max-width: 100%;
      text-align: center;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1rem;

      @media (min-width: 1024px) {
        font-size: 3.75rem;
      }
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }
  }

  .shopButton {
    background: white;
    color: #2563eb;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    font-weight: 600;
    transition: background 0.3s ease;
    border: none;
    &:hover {
      background: #bfdbfe;
    }
  }

  .imageContainer {
    max-width: 50%;

    @media (max-width: 1024px) {
      max-width: 100%;
    }

    img {
      border-radius: 8px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      width: 100%;
    }
  }
}
